#tabela{
    margin: 20px;
    display: inline-block;
    border-collapse: collapse;
    th, td {
        border: 1px solid black;
        padding: 15px;
    }
    th {
        background-color: #333;
        color: white;
    }
    tr:hover {
        background-color: grey;
        cursor: pointer;
    }
}

#detalji{
    min-width: 30%;
    margin: 20px;
    border-collapse: collapse;
    td {
        border: 1px solid black;
        padding: 15px;
    }
}